* {margin: 0px; padding: 0px;}

html,body {height: 100%;}

@font-face{
	font-family:Resotho;
	src: url(Resotho-ExtralightItalic.otf);
	}
	
	h1{
		font-family:Resotho;
		}

	/*nuevo*/

	.generalurgencias{
		background-color: black;
		height: 100px;
		width: 100%;
	}

	.btngralurgencias:hover, .left-control:hover, .right-control:hover {
		border-color: #ffffff;
		color: #fff;
		background-color: #393939;

	}

	.btngralurgencias{
		margin-top:20px; 
		padding: 20px 40px;
		color: #fff;
    	font-size: 15px;
    	font-weight: 900;
        border: 1px solid #6e6d6c;
		border-radius: 4px;
		min-width: 230px;
    }
	.urgencias{
		float:left;
		margin-left: 50px; 
	}
	.contactanos{
		float: right;
		margin-right: 50px;
	}
	.btngralurgenciasscroll{
		margin-top:12px; 
		color: #fff;
    	font-size: 12px;
    	font-weight: 900;
        border: 1px solid #6e6d6c;
		border-radius: 4px;
		min-width: 110px;
		padding: 3px 8px;
	}
	.logomobile{
		font-size: 30px;
		height: 65px;
		line-height: 40px;
		background-color: transparent;
		width: 40px;
	}
	/*xs urgencia*/
@media(max-width: 767px){
	.urgencias{
		float: none;

	}
	.contactanos{
		float: none;
	}
	.generalurgencias{
		height: 200px;

	}
	.urgencias{
		margin-left: 0px;
		text-align: center;
	}
	.contactanos{
		text-align: center;
		margin-right: 0px;
	}
	.img-responsive{
		display:none;

	}
	
}
@media(min-width:768px){
	.btngralurgenciasscroll{
		display:none;
	}
	.logomobile{
		display: none;
	}
}