* {margin: 0px; padding: 0px;}

html,body {height: 100%;}

@font-face{
	font-family:Resotho;
	src: url(Resotho-ExtralightItalic.otf);
	}
	
	h1{
		font-family:Resotho;
		}

	/*nuevo*/

	.generalurgencias{
		background-color: black;
		height: 100px;
		width: 100%;
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.btngralurgencias:hover, .left-control:hover, .right-control:hover {
		border-color: #ffffff;
		color: #fff;
		background-color: #393939;

	}

	.btngralurgencias{
		margin-top:20px; 
		padding: 20px 40px;
		color: #fff;
    	font-size: 15px;
    	font-weight: 900;
        border: 1px solid #6e6d6c;
		border-radius: 4px;
		min-width: 230px;
    }
	.urgencia_uno{
		width: 50%;
		display: flex;
		justify-content: space-around;

	}
	.urgencia_dos{
		width: 50%;
		display: flex;
		justify-content: space-around;
	}
	.btngralurgenciasscroll{
		margin-top:12px; 
		color: #fff;
    	font-size: 12px;
    	font-weight: 900;
        border: 1px solid #6e6d6c;
		border-radius: 4px;
		min-width: 110px;
		padding: 3px 8px;
		
	}
	.logomobile{
		font-size: 30px;
		height: 65px;
		line-height: 48px;
		background-color: transparent;
		width: 40px;
	}
	.classh1{
		color:#fc5a25;
		font-size: 60px;
    	font-weight: 700;
		font-family: Resotho;
		margin-bottom: 30px;
		margin-top: 20px;
		line-height: 1.1;
	}
	/*.keystyle{
		color:#fc5a25;
		font-size: 13px;
		margin-right: 5px;
	}*/
	/*xs urgencia*/
	@media(max-width:950px){
		.generalurgencias{
			flex-direction: column;
			height: 165px;
		}
		.btngralurgencias{
			margin-top: 15px;
		}
		.urgencia_uno{
			width: 100%;
		}
		.urgencia_dos{
			width: 100%;

		}
	}
@media(max-width: 767px){
	.urgencias{
		float: none;

	}
	.contactanos{
		float: none;
	}
	.urgencias{
		margin-left: 0px;
		text-align: center;
	}
	.contactanos{
		text-align: center;
		margin-right: 0px;
	}
	.imglogo-responsive{
		display:none;
	}
	.btngralurgencias{
		min-width: 160px;
		font-size: 12px;
		padding:20px 35px;
	}
	.classh1{
		font-size: 40px;
	}
	
}
@media(min-width:768px){
	.btngralurgenciasscroll{
		display:none;
	}
	.logomobile{
		display: none;
	}
}